body {
  justify-content: center;
  margin: 0;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

header {
  display: flex;
  position: fixed;
  height: 80px;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: white;
}


.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 2;

}
header nav {
  /* border: 1px solid black; */
  display: inline-block;
  justify-content: space-between;
}





a {
  color:  black;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;

    }

a:hover {
  color: white;
  border: 1px solid black ;
  background-color: black ;
  border-radius: 6px;

}
.column {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 100%;
  height: 1500px;


}
#h1 {
background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
height: 312px;
width: 610px;
display: flex;
align-items: center;
color: white;
padding-left: 17px;

}
.leftside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 680px;
  height: 500px;



}
#p {
  display: flex;
  align-items: center;
  /* justify-content: center; */

}
.column2  {
  display: flex;
  flex-direction: row;
  height: 650px;
  width: 680px;
  border: 1px solid black;
}
.left span h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;

}
.right span h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;

}


#image {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.column2 h2 {
  display: flex;
  align-items: center;

}


#image1 {
background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
height: 300px;
font-family: Georgia;
font-weight: bold;
font-size: 30px;
color: white;
text-align: center;
}
.left {
  padding-right: 15px;
}


.container {
  display: flex;

  border: 3px solid pink;
  align-items: center;
  padding-top: 80px;
}
.containerR {
  display:flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid purple;
  width: 100%;

}
.rightC {
  border: 2px solid gold;
  width: 100%;
  height: 1150px;
}
.row {
  display: flex;
  flex-direction: column;
}
